.contain2{
    display: flex;
    justify-content: space-evenly;

}
/*//////////////////////////////BLOC CALCULETTE///////////////////////////////////*/
.contcalcul{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pcalcul{
    color: #266C85;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.placecalcul{
    display: flex;
    justify-content: center;
}
.bloccalcul{
    height: 55vh;
    width: 22vw;
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: #012B43;
}
.ecran{
    height: 13%;
    width: 80%;
    background-color: #c4c4c4;
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: start;


}


/*//////////////////////////////BLOC JUSTE PRIX///////////////////////////////////*/

.contprix{
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pprix{
    color: #266C85;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.blocprix{
    height: 50vh;
    width: 40vw;
    background-color: whitesmoke;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: #266C85;
}
.placeprix{
    display: flex;
    justify-content: center;
}
.titleprix{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
.cadreprix{
    height: 40%;
    width: 50%;
    background-color: whitesmoke;
    margin-top: 8%;
    margin-left: 25%;
    border-radius: 10px;
    font-size: 3rem;

}
.validetres{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.moreorless{
    background-color: whitesmoke;
    height: 45%;
    width: 20%;
    border-radius: 5px;
}
.btnvalid{
    height: 45%;
    width: 20%;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 8px;
    background: #CDCDCD;
    
}